<!DOCTYPE html>
<html>
<head>
    <title>Free Billing - @ViewData["Title"]</title>
</head>
<body>
<header>Free Billing</header>
<div>
    @RenderBody()
</div>
<footer>&copy; 2025 Free Billing</footer>
</body>
</html>