@page
@model FreeBilling.Web.Pages.IndexModel
@{
    var productName = "Free Billing";
}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>@productName</title>
</head>
<body>
<h1>Free Billing</h1>
<p>Welome to our new website</p>
</body>
</html>